<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <#assign title="${title}">
    <#assign active=[1,0]>
    <#include "/inc/header.html">
    <#include "/inc/frame.html">
    <link rel="stylesheet" href="/css/dplayer/DPlayer.min.css">
    <script src="/js/dplayer/DPlayer.min.js"></script>

    <style>
        body, html {
            background-color: #FFFFFF;
        }

        #dplayer{
            height: 300px;
            margin-top: 40px;

        }

    </style>

    <script>

        $(function () {
            try {
                var videoDom = $('#dplayer');
                var width = $(videoDom).width();
                var height = parseInt(width * 0.5614035);
                $(videoDom).height(height);

            } catch (e) {
                console.log(e);
            }
            var dp = new DPlayer({
                container: document.getElementById('dplayer'),
                screenshot:false,
                video: {
                    quality: [
                        <#list data.videos as video >
                            {
                                name: '${video.label}',
                                url: '${video.src}',
                                type: 'auto'
                            },
                        </#list>
                        ],
                    defaultQuality: 0,
                    pic: '${data.poster}'
                }
            });
        });

    </script>

</head>


<div class="mdui-container">

    <div class="mdui-video-fluid">
        <div id="dplayer"></div>
    </div>
</div>

<#include "/inc/footer.html">

</body>
</html>